@media only screen and (max-width: 1045px) {
  /* header */

  .container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .logo {
    justify-content: center;
    align-items: center;
  }

  .header-loginflex {
    justify-content: center;
  }

  .logoflex {
    display: flex;
    justify-content: center;
  }

  .searchbox {
    margin: 0 auto;
  }

  .show-more {
    margin: 0 auto;
    margin-bottom: 100px;
  }
  /*   banner */

  .main-banner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .banner-image {
    margin-bottom: 40px;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-p {
    width: 300px;
    min-height: 300px;
  }

  /*  games */

  .games {
    display: flex;
  }

  .more-flex {
    display: flex;
  }

  /*  about page */

  .about .contentbx h2 {
    margin-top: 200px;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about-image {
    width: 500px;
    height: 300px;
    margin-bottom: 70px;
  }

  .about .contentbx a {
    align-items: center;
  }

  /*  create acount */

  .create-box {
    margin-top: 200px;
  }

  /*  mobile games */

  .mobile-games {
    display: flex;
    margin-top: 400px;
  }
}

@media only screen and (max-width: 1045px) {
  .about {
    align-items: center;
    flex-direction: column-reverse;
  }

  .about .contentbx h2 {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .banner-image {
    width: 400x;
    min-height: 500px;
  }

  .about-image {
    width: 450px;
    height: 250px;
  }
}
